# Copia este archivo a ".env" y ajusta los valores a tu instalación local de MySQL

# Cadena de conexión a MySQL
# formato: mysql+pymysql://usuario:password@host:puerto/nombre_bd

SQLALCHEMY_DATABASE_URI = "mysql+pymysql://firewatch_user:558902@localhost/firewatch_qro"
# Clave secrecy para tokens de sesión (cámbiala por cualquier texto largo y aleatorio)
SECRET_KEY=cambia-esta-clave-por-una-propia
JWT_SECRET_KEY=cambia-esta-clave-jwt-por-otra-propia

# Puerto en el que corre el backend
FLASK_PORT=5000
